body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
    top:0;
    left:0;
    list-style:none;
}

.box5px {
	margin: 5px;
}
.box10px {
	margin: 10px;
}

.floatleft {
	float:left;	
}
.floatright {
	float:right;	
}
.floatnone {
	float:none;	
}